@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body{
    margin:0px;
    font-family: 'Poppins', sans-serif;

}
/* navbar css */
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    line-height: 1.8;
}
.navbar{
    padding-top: 35px;

}

.navbar-brand{
    justify-content: flex-start;
    margin-left: 0px;
    height: 22px;
    width: auto;
}

.hero-header{
    background-image: url("media/header-graphic.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-position-y: -13rem;
    background-position-x: 55rem;
    width: 100%;
    height: auto;
}

.navbar-nav .nav-link {
    padding-left: 1rem!important;
    padding-right: 1rem!important; 
}


.navbar-light .navbar-nav .nav-link {
    color: navy;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.9em;
}

.nav-item .dropdown{
    color: navy;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: navy;
}
/* navbar css */

/* hero-css start */
.hero-header h1{
    font-weight: 700;
    font-size: 47px;
    line-height: 1.07;
    color: #152d45;
    position: center;
    margin: 55px 0px;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;
}

hr{
    border: 3px solid orange;
    width: 67px;
    position: absolute;
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    color:  #152d45;

}


/* Card post css */

.card-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top:9.5em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.16);
    }

.img-fluid{
    max-width: 100%;
    height: auto;
}

.card-flex img{
    margin-top: 2rem;
    height: 35px;
    width: auto;
    padding: auto;
    
}

.card-title{
color: grey;
font-size: 1em;
margin: 90px 0 15px;
}

.card-text{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.18;
}

/* hero-css end */

/* blurb css */
.blurb h5{
    font-weight: 700;
    font-size: 37px;
    color: #152d45;
    position: center;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;    
}

.blurb hr{

    border: 3px solid orange;
    width: 67px;
    position: absolute;    
}
.blurb p{
    font-weight: 600;
    font-size: 18px;

}
/* blurb css end */

.section-2{
    margin-top: 6em;
    margin-bottom: 6em;
}

.section-3{
    background-color: #f6fafd;
    padding: 40px;
}

.section-3 hr{
        border: 3px solid orange;
        width: 4%;
        text-align: center;
        display: block;
        margin-inline-start: 11.5em;
}

.subs h5{
    font-size: 27px;
    font-weight: 500;
}
.company-photo{
    padding-bottom: 8rem;
}
.team{
    max-width: 65%;
    float:top;
    margin-top: -10rem;
}

.image-text h5{
    font-weight: 700;
    font-size: 28px;
    color: #152d45;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;  
}

.move-box{
    overflow: visible;
    top: 200px;
}

.team-btn{
    margin-top: 2rem;
    background-color: #152d45;
    border: 1px solid #152d45;
    border-radius: 25px;
}

.team-btn a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 0 20px;
}

.team-btn:hover {
    margin-top: 2rem;
    background-color: #152d45;
    border: 1px solid #152d45;
    border-radius: 25px;
}

.quote-card {
    color: #222222;
    padding-top: 4rem;
    position: relative;
    overflow: hidden;
    min-height: 120px;
  }
  .quote-card p {
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
    font-weight: 600;
  }

  .number-text{
      padding-top:2rem;
      padding-bottom: 0px;
  }

  .numbers{
      font-size: 3em;
      font-weight: 700;
      color: #152d45;
  }
  
  .subtitle{
    font-weight: 700;
    margin-top: -1em;
  }

  .text{
      font-size: 18px;
  }

  .number-text{
      justify-content: space-between;
  }

  .column{
      width: 30%
  }
 